/********************************************************************************************************************************/
/* GENERAL */
/********************************************************************************************************************************/

p {
    color: white;
font-family: 'Courier New', Courier, monospace;
text-align: right;

}
img {
    width: 100%;
}
.content {
    width: 20rem;
    margin: auto;
}
.wrapper {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

/********************************************************************************************************************************/
/* MOBILE */
/********************************************************************************************************************************/
@media only screen and (max-width:769px){
    /********************************************************************************************************************************/
    /* structure */
    /********************************************************************************************************************************/
        #myVideo {
            position: fixed;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
            z-index:-1;
        }
    /********************************************************************************************************************************/
    /* media */
    /********************************************************************************************************************************/

        .content {
            width: 50%;
            margin: auto;
        }
    /********************************************************************************************************************************/

}

/********************************************************************************************************************************/
/* DESKTOP */
/********************************************************************************************************************************/
@media only screen and (min-width:769px){
    /********************************************************************************************************************************/
    /* structure */
    /********************************************************************************************************************************/
        #myVideo {
            position: fixed;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
            z-index:-1;
        }
    /********************************************************************************************************************************/
    /* media */
    /********************************************************************************************************************************/
       
        .content {
            width: 20rem;
            margin: auto;
        }

    /********************************************************************************************************************************/

}