
/********************************************************************************************************************************/
/* GENERAL */
/********************************************************************************************************************************/
img {
    width: 100%;
    cursor: pointer;
}

body {
    margin: 0;
}

/********************************************************************************************************************************/
/* MOBILE */
/********************************************************************************************************************************/
@media only screen and (max-width:769px){
    /********************************************************************************************************************************/
    /*  */
    /********************************************************************************************************************************/

    .content {
        width: 100%;
    }
    .wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    
    }
    
    /********************************************************************************************************************************/
    /*  */
    /********************************************************************************************************************************/

}

/********************************************************************************************************************************/
/* DESKTOP */
/********************************************************************************************************************************/
@media only screen and (min-width:769px){


    .content {
        width: 65%;
    }
    .wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    
    }
    
}