@import url('https://themes.googleusercontent.com/fonts/css?kit=0q-JaFCJuohwd-2kjlPMqg');
/********************************************************************************************************************************/
/* GENERAL */
/********************************************************************************************************************************/
body {
    font-family: "Montserrat";
    line-height: 1.5;
}
  
body {
    padding: 1rem;
    text-align: justify;
}

.first {
    text-indent: 1rem;
}


/********************************************************************************************************************************/
/* MOBILE */
/********************************************************************************************************************************/
@media only screen and (max-width:769px){
    /********************************************************************************************************************************/
    /*  */
    /********************************************************************************************************************************/
    
    .content {
        width: 100%;
    }
    .wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    
    }

    .begin {
        padding: 2rem 0rem;
      }
      
      .eind  {
        text-align: right;
        padding: 2rem 0rem;
      }
      
    
    /********************************************************************************************************************************/
    /*  */
    /********************************************************************************************************************************/

}

/********************************************************************************************************************************/
/* DESKTOP */
/********************************************************************************************************************************/
@media only screen and (min-width:769px){

    .content {
        width: 50%;
    }
    .wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    
    }

    body {
        padding: 1rem;
        text-align: justify;
    }

    .begin {
        padding: 2rem 0rem;
    }
      
    .eind  {
        text-align: right;
        padding: 2rem 0rem;
    }
    
}
