
/********************************************************************************************************************************/
/* GENERAL */
/********************************************************************************************************************************/


/********************************************************************************************************************************/
/* MOBILE */
/********************************************************************************************************************************/
@media only screen and (max-width:769px){
    /********************************************************************************************************************************/
    /*  */
    /********************************************************************************************************************************/
    
    .c6 {
        padding: 1rem;
    }
    
    .content {
        width: 100%;
    }
    .wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    
    }
    
    /********************************************************************************************************************************/
    /*  */
    /********************************************************************************************************************************/

}

/********************************************************************************************************************************/
/* DESKTOP */
/********************************************************************************************************************************/
@media only screen and (min-width:769px){

    .c6 {
        padding:4rem;
    }

    .content {
        width: 50%;
    }
    .wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    
    }
    
}